asgiref==3.8.1
beautifulsoup4==4.12.3
behave==1.2.6
behave-django==1.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
coreapi==2.3.3
coreschema==0.0.4
Django==5.0.6
django-environ==0.11.2
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
idna==3.7
itypes==1.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
parameterized==0.9.0
parse==1.20.1
parse-type==0.6.2
psycopg2-binary==2.9.9
PyJWT==2.8.0
requests==2.32.2
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.11.0
uritemplate==4.1.1
urllib3==2.2.1
