<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <ul>
        <p>List of products found</p>
        <li *ngFor="let product of products$ | async">
        {{ product.name }}: {{ product.price }} {{ product.currency }}
        </li>
    </ul>
    <p></p>
    <div class="form-container">
        <mat-form-field appearance="outline">
            <mat-label for="name" class="form-control">Name: </mat-label>
            <mat-hint>The product name  </mat-hint>
            <input matInput placeHolder="Product Name" data-testid="name" type="text" 
                formControlName="name" required uppercase>
                <mat-error #nameError *ngIf="nameCtrl.errors">
                    {{ getInvalidNameErrorMessage() }} !
                </mat-error>
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="outline">
            <mat-label for="price" class="form-control">Price: </mat-label>
            <mat-hint>The product price  </mat-hint>
            <input matInput placeHolder="Product price" data-testid="price" type="text" 
                formControlName="price" type="number" required uppercase>
                <mat-error #priceError *ngIf="priceCtrl.errors">
                    {{ getInvalidPriceErrorMessage() }} !
                </mat-error>
        </mat-form-field>    
        <p></p>
        <mat-form-field appearance="outline">
            <mat-label for="currency" class="form-control">Currency: </mat-label>
            <mat-hint>The product currency  </mat-hint>
            <mat-select placeHolder="Product currency" data-testid="currency" 
                (selectionChange)="selectionChanged($event)" required>
                <mat-option *ngFor="let currency of mainCurrencies" [value]="currency.value">
                    {{ currency.viewValue }}
                </mat-option>
            </mat-select>
                <mat-error #currencyError *ngIf="currencyCtrl.errors">
                    {{ getInvalidCurrencyErrorMessage() }} !
                </mat-error>
        </mat-form-field>    
        <p></p>
        <button mat-raised-button data-testid="submitButton" type="submit" 
            color="accent" [disabled]="!productForm.valid">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</form>       
